/* RESET------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    
    font-family: "Fredoka", sans-serif;
}

.container-contacts > ul > li {
    list-style-type: none;
}

/* // RESET------------ */



body {
    margin-left: 262px;
    margin-right: 262px;
}

header, main {
    margin-bottom: 64px;         
}

header {
    margin-top: 44px; 
    margin-bottom: 64px; 
    text-align: center;
    color: #e53170;
}

header > h1 {
    font-size: 2.5em;
}

main > p {
    font-weight: 500;
    color: gray;
}

p {
    margin-bottom: 50px;     
    text-align: center;
}



/* Elementi FLEX-------------  */

.container-contacts {           /* Padre-Flex */
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;     
 /* gap: 15px; */      
}

.contact {          /* Figli-Flex, e padri anche loro di 2 item */
    background-color: #0f0e17;
    box-shadow: 0px 0px 20px 2px grey;
    display: flex;    

    height: 100px;
    width: 357px;   
    margin-bottom: 32px ;     
}

.nome-cognome {
    color: white;
}

.professione {
    color: white;
    font-weight: normal;
}

.email > a {
    text-decoration: none;
    color: #00abf4;
    font-weight: normal;
}


img {   /* (l'immagine che deve essere grande quanto il suo container) */   
    max-width: auto;
    height: 100%;
}


.container-info {      /* Figli-Flex */
    padding: 5px 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

/* \\Elementi FLEX-------------  */
