/* RESET------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    
    font-family: "Fredoka", sans-serif;
}
/* // RESET------------ */



header, main, footer {
    /* margin: 50px 100px; */
    
}

body {
    background-color: rgb(255, 253, 164);
    margin-left: 262px;
    margin-right: 262px;


}

header, main {
    margin-bottom: 64px;     

    
}



header {
    background-color: aqua;
    border: 1px solid black;
    margin-top: 44px; 
    margin-bottom: 64px; 
    text-align: center;
    color: #e53170;

}


main {
    background-color: rgb(0, 255, 200);
    border: 1px solid black; 
}

p {
    background-color: rgba(119, 0, 255, 0.281);
    margin-bottom: 50px;     
    text-align: center;

}



.container-contacts {
    background-color: rgba(78, 26, 138, 0.281);
    display: flex;   
}


.container-contacts .contact {
    background-color: rgba(119, 0, 255, 0.562);
    display: flex;  
}


/* .container-photo, .container-info {
    display: flex;  
} */





