/* RESET------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    
    font-family: "Fredoka", sans-serif;
}

.container-contacts > ul > li {
    list-style-type: none;
}

/* // RESET------------ */



body {
    background-color: rgb(255, 253, 164);
    margin-left: 262px;
    margin-right: 262px;
}

header, main {
    margin-bottom: 64px;     

    
}



header {
    background-color: aqua;
    border: 1px solid black;
    margin-top: 44px; 
    margin-bottom: 64px; 
    text-align: center;
    color: #e53170;

}


main {
    background-color: rgb(0, 255, 200);
    border: 1px solid black; 
}

p {
    background-color: rgba(119, 0, 255, 0.281);
    margin-bottom: 50px;     
    text-align: center;

}






/* \\\\\\\ */









.container-contacts {           /* Padre-Flex */
    background-color: rgb(42, 165, 155);
    
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;     
 /* gap: 15px; */  
    margin: 0 - 10px;

}

.contact {          /* Figli-Flex, e padri anche loro di 2 item */
    background-color: brown;
    display: flex;    

    border: 1px solid black;
    height: 100px;
    width: 357px;
    margin: 10px;  
     
}

img {   /* (l'immagine che deve essere grande quanto il suo container) */   
    max-width: auto;
    height: 100%;
}


.container-info {      /* Figli-Flex */
    padding: 5px 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}


/* \\\\\\\ */